# Environment variables
.env
server/.env

# Python cache
__pycache__/
*.pyc

# IDE / Editor
/.vscode/

# Virtual Environments
venv/
.venv/
server/venv/
services/lazada_crawler/venv/
typesense-data/
# Node / Frontend build
node_modules/
dist/