PROJECT_NAME=ProductHunter API
VERSION=0.1.0
HOST=0.0.0.0
PORT=3000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=producthunter
DEV_API_KEY=replace-with-strong-dev-key
IMAGE_TAG=latest

ALLOWED_ORIGINS=["http://localhost:3001"]
